#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.dndflow .dndnode {
  height: 40px;
  width: 40px;
  padding: 4px;
  border: 3px solid #38A3A5;
  border-radius: 15px;
  margin-bottom: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.dndflow .dndnode-label {
  margin-top: -2px;
  height: 40px;
  width:  70px;
  padding: 1px;
  display: flex;
  cursor: grab;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.dndflow .selectall {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 20%;
    max-width: 250px;
  }
}

.react-flow {
  --node-border-radius: 15px;
}

.react-flow__node-pretty .inner {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  position: relative;
  border-radius: var(--node-border-radius);
}

.custom-handle {
  position: absolute;
  right: -6px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;

  width: 12px;
  height: 12px;
  background-color: #00FAFF;
  border-radius: 50%;
  border: 2px solid white;
}

/* Pour le handle à gauche */
.react-flow__handle-left.custom-handle {
  position: absolute;
  top: 40%;
  left: 1px;
  z-index: 10;
  width: 3px;
  height: 3px;
  background-color: white;
  border: 2px solid #38A3A5;
}

.react-flow__handle-right.custom-handle {
  position: absolute;
  top: 40%;
  z-index: 10;
  right: 1px;
  width: 3px;
  height: 3px;
  background-color: white;
  border: 2px solid #38A3A5;
}

.react-flow__node-pretty .wrapper {
  width: 80px;
  height: 80px;
  overflow: hidden;
  display: flex;
  padding: 2px;
  position: relative;
  border-radius: calc(var(--node-border-radius) + 1px);
}

.gradient:before {
  content: '';
  position: absolute;
  padding-bottom: 130%;
  width: 130%;
  background: #38A3A5;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.react-flow__node-pretty.selected .gradient:before {
  content: '';
  background: conic-gradient(
          from -160deg at 50% 50%,
          #00FAFF 0deg,
          #22577A 120deg,
          #00FAFF 240deg,
          rgba(42, 138, 246, 0) 360deg
  );
  animation: spinner 4s linear infinite;
  transform: translate(-50%, -50%) rotate(0deg);
  z-index: -1;
}

@keyframes spinner {
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}